body {
    touch-action: none; /*https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action*/
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace;
    margin: 2rem;
    align-content: center;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
  }
  h1 {
    margin-top: 20px;
    margin: 50px;
    font-size: 70px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace;
    justify-content: center;
  }
  img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  .label{
    visibility: hidden;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace; 
  }
  #paint {
    border:3px solid red;
    margin: auto;
  }
  #predicted { 
    font-size: 60px;
    margin-top: 60px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace; 
  }
  #number {
    border: 3px solid black;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    vertical-align: middle;
  }
  p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace;
    justify-content: center;
    margin-top: 20px;
  }
  img{
    align-content: center;
  }
  .image{
    align-content: center;
    margin-top: 20px;
  }
  .centerMe{
    text-align: center;
    align-content: center;
    display: block;
    margin-left:auto ;
    margin-right: auto;
    width:50%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace; 
    
  }
  .fontChange{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Xanh Mono', monospace; 
  }
  .red{
    color:#f94144;
  }
  .orange{
    color:#f3722c;
  }
  .yellow{
    color:#f9c74f
  }
  .green{
    color:#43aa8b;
  }
  .blue{
    color:#277da1;
  }
  .purple{
    color:#9b5de5;
  }